<!DOCTYPE html>
<html lang="en">

<head>
  <title>whats up there?</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.4.2/dist/css/uikit.min.css" />
  <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400&display=swap" rel="stylesheet">
  <link rel="stylesheet" href={{stylesheet}}>
  {{!-- arcGIS links
  <link rel="stylesheet" href="https://js.arcgis.com/4.15/esri/themes/light/main.css" />
  <script src="https://js.arcgis.com/4.15/"></script> --}}

</head>

<body>

  {{{body}}}
  
</body>

</html>