<!DOCTYPE html>
<html lang="en">

<head>
  <title>whats up there?</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.4.2/dist/css/uikit.min.css" />
  <link href="stylesheets/style.css" rel="stylesheet">
</head>

<body>
{{{body}}}
</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</html>