<div class="uk-cover-container" uk-height-viewport>
  <img src="imgs/space.jpg" alt="" uk-cover id="aerial-image">

  <!-- TOP NAV -->
  <div uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky; top: #transparent-sticky-navbar">
    <nav class="uk-navbar-container" uk-navbar="dropbar: true;" id="navBar" style="position: relative; z-index: 980;">
      <div class="uk-navbar-center">

        <ul class="uk-navbar-nav">
          <p class="uk-heading-small">what's up there? <i class="fas fa-satellite-dish"></i></p>
        </ul>

      </div>
    </nav>
  </div>

  <!-- User Panel -->
  <div class="uk-align-center">
    <div class="uk-align-center uk-card uk-card-default uk-card-body" id="user">
    </div>
    <div class="uk-card uk-card uk-card-default uk-card-body uk-align-center" id="favorites-list">
      <h5 class="uk-heading-small uk-text-center">Favorites</h2>
        <hr>
        <ul uk-accordion id="list"></ul>
        </ul>
    </div>
  </div>



  <!-- BOTTOM NAV -->
  <div uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky; bottom: #transparent-sticky-navbar">
    <nav class="uk-navbar-container uk-position-fixed uk-position-bottom" uk-navbar="dropbar: true;" id="navBar"
      style="position: relative; z-index: 980;">
      <div class="uk-navbar-center">
        <ul class="uk-navbar-nav">


          <div class="uk-animation-toggle" tabindex="0">
            <li><span uk-icon="icon: bookmark; ratio: 2" id="bookmark-icon" class="uk-align-left uk-animation-scale-up"
                uk-toggle="target: #offcanvas-slide"></span></li>
          </div>
          <div id="offcanvas-slide" uk-offcanvas="mode: slide; overlay: true">
            <div class="uk-offcanvas-bar">

              <button class="uk-offcanvas-close" type="button" uk-close></button>

              <h3>Bookmarks</h3>
              <div id="fav-satellite"></div>

            </div>
          </div>


          <div class="uk-animation-toggle" tabindex="0">
            <li><span uk-icon="ratio: 2" id="sat-icon" href="#satellite-categories" uk-toggle> <i
                  href="#satellite-categories"
                  class="fas fa-satellite uk-align-center uk-animation-scale-up"></i></span></li>


            <div id="satellite-categories" class="uk-flex-top" uk-modal>
              <div class="uk-modal-dialog uk-width-auto uk-margin-auto-vertical">

                <button class="uk-modal-close-outside" type="button" uk-close></button>


                <form>
                  <div class="uk-margin">
                    <div uk-form-custom="target: > * > span:first-child">
                      <p>CATEGORIES</p>
                      <select name="satelliteCat" id="categories">
                        <option selected="selected" id="select" value="">Please select...</option>
                        <option id="18" value="18">AMATEUR RADIO </option>
                        <option id="6" value="6">EARTH RESOURCES</option>
                        <option id="29" value="29">EDUCATION</option>
                        <option id="19" value="19">EXPERIMENTAL</option>
                        <option id="22" value="22">GALILEO</option>
                        <option id="20" value="20">GLOBAL POSITIONING SYSTEM (GPS)</option>
                        <option id="11" value="11">INTELSAT</option>
                        <option id="2" value="2">ISS</option>
                        <option id="30" value="30">MILITARY</option>
                        <option id="18" value="18">NAVY NAVIGATION SATELLITE SYSTEM</option>
                        <option id="4" value="4">NOAA</option>
                        <option id="31" value="31">RADAR CALIBRATION</option>
                        <option id="7" value="7">SEARCH & RESCUE</option>
                        <option id="26" value="26">SPACE & EARTH SCIENCE</option>
                        <option id="52" value="52">STARLINK</option>
                        <option id="9" value="9">TRACKING AND DATA RELAY SATELLITE SYSTEM</option>
                        <option id="34" value="34">TV</option>
                        <option id="3" value="3">WEATHER</option>
                        <option id="33" value="33">XM AND SIRIUS</option>
                      </select>

                      <button class="uk-button uk-button-default" id="drop" class="button" tabindex="-1">
                        <span></span>
                        <span uk-icon="icon: chevron-down"></span>
                      </button>
                </form>
              </div>
              <br>
            </div>

            <button class="uk-button uk-button-default" id="searchBtn" type="submit">SEARCH</button>


          </div>
      </div>
  </div>


  <div class="uk-animation-toggle" tabindex="0">
    <li><a href="/members" uk-icon="icon: location; ratio: 2" id="location-icon"
        class="uk-align-center uk-animation-scale-up"></a></li>
  </div>


  <div class="uk-animation-toggle" tabindex="0">
    <li><a href="/account" uk-icon="icon: user; ratio: 2" id="user-icon"
        class="uk-align-right uk-animation-scale-up"></a></li>
  </div>

  </ul>
</div>
</nav>
</div>

</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.4.2/dist/js/uikit.min.js "></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.4.2/dist/js/uikit-icons.min.js "></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js "></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"></script>
<script type="text/javascript" src="./js/account.js"></script>
<script id="test"></script>