    <div class="uk-cover-container" uk-height-viewport>
        <img src="imgs/space.png" alt="" uk-cover>
    </div>

    <div class="uk-container uk-position-center">
        <div>

            <h1 class="uk-heading-medium">what's up there</h1>

            <div class="uk-card uk-grid-collapse uk-box-shadow-xlarge uk-margin uk-grid">
                <div class="uk-card-body uk-align-center">

                    <form id="login">
                        <div class="uk-margin uk-align-center ">
                            <div class="uk-inline ">
                                <span class="uk-form-icon " uk-icon="icon: user "></span>
                                <input class="uk-input " id="email-input" type="text " placeholder="E-MAIL">
                            </div>
                        </div>
                        <div class="uk-margin uk-align-center ">
                            <div class="uk-inline ">
                                <span class="uk-form-icon uk-form " uk-icon="icon: lock "></span>
                                <input class="uk-input " id="password-input" type="text" placeholder="PASSWORD">
                            </div>
                        </div>

                        <button class="uk-button uk-align-center uk-button-default ">LET'S GO UP THERE</button>
                        <br>
                        <button class="uk-button uk-align-center uk-button-default ">SIGN ME UP</button>

                    </form>
                </div>
            </div>
        </div>
    </div>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.4.2/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.4.2/dist/js/uikit-icons.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="js/signup.js"></script>