
    <div class="uk-cover-container" uk-height-viewport>
        <img src="./imgs/space.png" alt="" uk-cover>
    </div>

    <div class="uk-container uk-position-center">
        <div>

                    <a href="#satellite1" uk-toggle class="uk-position-absolute uk-transform-center" style="left: 20%; top: 66%" href="#" uk-marker>
            <i class="fas fa-satellite"></i>
        </a>

        <div id="satellite1" class="uk-flex-top" uk-modal>
            <div class="uk-modal-dialog uk-width-auto uk-margin-auto-vertical" id="satellite1">
                <button class="uk-modal-close-outside" type="button" uk-close></button>

                <p id="satellite-1-name" style="font-weight: bold;"></p>
                <p id="satellite-1-launch"></p>
                <p id="satellite-1-class">CLASSIFICATION : RUSSIA </p>
                <a href="" id="sat-1" uk-icon="icon: bookmark; ratio: 2"></a>
            </div>
        </div>


            <h1 class="uk-heading-medium">what's up there?</h1>

            <div class="uk-card uk-grid-collapse uk-box-shadow-xlarge uk-margin uk-grid">
                <div class="uk-card-body uk-align-center">

                      <form id="login" style="text-align: center;">
                        <div class="uk-margin uk-align-center ">
                            <div class="uk-inline ">
                                <span class="uk-form-icon " uk-icon="icon: user "></span>
                                <input class="uk-input " id="email-input" type="text " placeholder="E-MAIL">
                            </div>
                        </div>
                        <div class="uk-margin uk-align-center ">
                            <div class="uk-inline ">
                                <span class="uk-form-icon uk-form " uk-icon="icon: lock "></span>
                                <input class="uk-input " id="password-input" type="password" placeholder="PASSWORD">
                            </div>
                        </div>

                        <button class="uk-button uk-align-center uk-button-default">BEAM ME UP</button>
                        <br>

                        <a>SIGN ME UP, SCOTTY</a>

                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.4.2/dist/js/uikit.min.js "></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.4.2/dist/js/uikit-icons.min.js "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js "></script>
    <script type="text/javascript " src="js/login.js "></script>
