<style>
  html,
  body,
  #viewDiv {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
  }
</style>


<div id="viewDiv"></div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js "></script>
<script src="https://js.arcgis.com/4.15/"></script>
<script type="text/javascript" src="/js/sat-api.js"></script>
<script type="text/javascript" src="/js/satmap.js"></script>