<style>
  html,
  body,
  #viewDiv {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
  }
</style>

<div id="mapdata"></div>
<div id="viewDiv">
</div>


<script type="text/javascript" src="js/sat-api.js"></script>