
  <div class="uk-cover-container" uk-height-viewport>
        <img src="imgs/space.png" alt="" uk-cover>
        <!-- TOP NAV -->
        <div uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky; top: #transparent-sticky-navbar">
            <nav class="uk-navbar-container" uk-navbar="dropbar: true;" id="navBar" style="position: relative; z-index: 980;">
                <div class="uk-navbar-center">

                    <ul class="uk-navbar-nav">
                        <p class="uk-heading-small">what's up there</p>
                    </ul>

                </div>
            </nav>
        </div>


        <!-- BOTTOM NAV -->
        <div uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky; bottom: #transparent-sticky-navbar">
            <nav class="uk-navbar-container uk-position-fixed uk-position-bottom" uk-navbar="dropbar: true;" id="navBar" style="position: relative; z-index: 980;">
                <div class="uk-navbar-center">

                    <ul class="uk-navbar-nav">
                        <li><span uk-icon="icon: bookmark; ratio: 2" id="icon" class="uk-align-left"></span></li>
                        <li><span uk-icon="icon: location; ratio: 2" id="icon" class="uk-align-center"></span></li>
                        <li><span uk-icon="icon: user; ratio: 2" id="icon" class="uk-align-right"></span></li>
                    </ul>

                </div>
            </nav>
        </div>
    </div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.4.2/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.4.2/dist/js/uikit-icons.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="js/members.js"></script>