
    <div class="uk-cover-container" uk-height-viewport>
        <img src="imgs/space.jpg" alt="" uk-cover>
    </div>

    <div class="uk-container uk-position-center">
        <div>

            <h1 class="uk-heading-medium uk-align-center"style="text-align: center;">what's up there?  <img src="imgs/solar-system.png" class="filter"></h1>

            <div class="uk-card uk-grid-collapse uk-box-shadow-xlarge uk-margin uk-grid">
                <div class="uk-card-body uk-align-center">

                    <form id="signup" style="text-align: center;">
                        <h3 class="uk-heading-medium uk-align-center" id="signuptitle" style="font-size: 30px; font-weight:300px;">sign up and find out</h3>
                        <div class="uk-margin uk-align-center ">
                            <div class="uk-inline ">
                                <span class="uk-form-icon " uk-icon="icon: user "></span>
                                <input class="uk-input " id="email-input" type="text " placeholder="E-MAIL">
                            </div>
                        </div>
                        <div class="uk-margin uk-align-center ">
                            <div class="uk-inline ">
                                <span class="uk-form-icon uk-form " uk-icon="icon: lock "></span>
                                <input class="uk-input " id="password-input" type="password" placeholder="PASSWORD">
                            </div>
                        </div>
                        <div style="display: none; margin-bottom: 20px;" id="alert" class="alert uk-alert-dange" role="alert">
                      <span class="sr-only">This e-mail has already been up there! <a href="/login">login here.</a></span> <span class=""></span>
                        </div>
                        <button class="uk-button uk-align-center uk-button-default">SIGN ME UP, SCOTTY</button>

                        <p id="login-link">Already been up there? <a href="/"> let's go back.</a></p>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.4.2/dist/js/uikit.min.js "></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.4.2/dist/js/uikit-icons.min.js "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"></script>
    <script type="text/javascript" src="js/signup.js"></script>
