body,
h3 {
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
}

#login-link {
    color: white;
}

a {
    color: white;
}

.filter {
    -webkit-filter: brightness(0) invert(1);
    filter: brightness(0) invert(1);
    height: 28px;
    width: 28px;
}

.uk-heading-medium {
    font-size: 30px;
}

a:hover {
    color: #bb86fc;
    text-decoration: none;
}

.uk-heading-medium,
.uk-button,
.uk-heading-small {
    margin: 10px;
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
}

#user {
    font-size: 30px;
    background-color: rgba(255, 192, 203, 0);
    text-align: center;
    color: white;
    padding: 0px;
    margin: 0px;
}

#favorites-list,
#favorites-list a {
    color: white;
    background-color: #303030;
    margin: 10px 50px;
    list-style-type: none;
    border-radius: 5px;
}

#list {
    padding-left: 20px
}

.change-button {
    background-color: #bb86fc;
    border-color: #000000;
}

.delete-button,
.submit-button {
    background-color: #bb86fc;
    border-color: #000000;
}

.container {
    background-color: #303030;
    border-radius: 5px;
}

.uk-container>:last-child {
    margin-bottom: 20px;
}

.uk-card-body {
    margin: auto;
}

form.signup,
form.login {
    margin-top: 50px;
}

#navBar {
    background-color: #303030da !important;
    color: white !important;
}

#location-icon {
    padding-top: 12px;
    padding-bottom: 20px;
    margin: 15px;
    padding-left: 10px;
    padding-right: 30px;
}

#logout-icon {
    padding-top: 12px;
    padding-bottom: 20px;
    margin: 15px;
    padding-right: 10px;
}

#user-icon {
    padding-top: 12px;
    padding-bottom: 20px;
    margin: 15px;
    padding-right: 30px;
}

.navTitle {
    font-size: 24px;
    padding-top: 15px;
}