body {
    font-family: "Roboto Condensed", sans-serif;
    color: white;
}

a:hover {
    color: #bb86fc;
    text-decoration: none;
}

#signuptitle {
    font-size: 20px;
    padding-top: 0px;
    color: white;
}

a {
    color: #bb86fc;
}

.filter {
    -webkit-filter: brightness(0) invert(1);
    filter: brightness(0) invert(1);
    height: 50px;
    width: 50px;
}

.navTitle {
    font-size: 40px;
    font-family: "Roboto Condensed", sans-serif;
    color: white;
    padding-top: 10px;
}

.uk-card {
    background-color: #303030da;
    border-radius: 5px;
}

.uk-container {
    background-color: #303030da;
    border-radius: 5px;
}

.uk-card-body {
    margin: auto;
}

.uk-heading-medium {
    text-align: center;
    padding-top: 10px;
    font-size: 40px;
    font-family: "Roboto Condensed", sans-serif;
    color: white;
    padding-top: 10px;
}

.uk-heading-medium,
.uk-button {
    font-family: 'Roboto Condensed', sans-serif;
    margin: auto;
    color: white;
}

.uk-button:visited {
    color: white;
}

.uk-button:hover {
    color: white;
}

.login-field {
    padding-bottom: 0px;
}

.alert {
    background-color: #30303000;
}

.star {
    background-color: white;
    width: 45px;
    height: 2px;
    position: absolute;
    top: -200px;
    left: 200%;
    animation: shoot 5s linear infinite;
    opacity: 0%;
    transform: rotate(-20deg);
}

.star3 {
    top: -250px;
    animation-delay: 3s
}

.star4 {
    top: -0px;
    animation-delay: 2s
}

.star5 {
    top: 25px;
    animation-delay: 4s
}

@keyframes shoot {
    0% {
        opacity: 0%;
    }
    1% {
        opacity: 50%;
    }
    10% {
        transform: rotate(-20deg) translate(-2000px, 0);
        opacity: 50%;
    }
    11% {
        opacity: 0%;
    }
    100% {
        transform: rotate(-20deg) translate(-2000px, 0);
        opacity: 0%;
    }
}