body {
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
}

a:hover {
    color: #bb86fc;
    text-decoration: none;
}

#signuptitle {
    font-size: 35px;
    padding-top: 0px;
}

#solar {
    width: 25px;
    height: 25px;
    color: white;
}

a {
    color: #bb86fc;
}

.uk-card {
    background-color: #303030da;
    border-radius: 5px;
}

.uk-container {
    background-color: #303030da;
    border-radius: 5px;
}

.uk-card-body {
    margin: auto;
}

.uk-heading-medium {
    text-align: center;
    padding-top: 10px;
}

.uk-heading-medium,
.uk-button {
    font-family: 'Roboto Condensed', sans-serif;
    margin: auto;
    color: white;
}

.uk-button:hover {
    color: white;
}